@import "./variables";
@import "./mixins";

.about {
  margin-top: 42px;
}

%center {
  justify-content: center;
  text-align: center;
  width: 100vw;
}

.about-logo {
  @extend %center;
  > img {
    height: $default-am-logo-img-size;
  }
}

.about-text {
  margin-top: 16px;
  margin-bottom: 16px;
  @extend %center;

  > h1 {
    font-size: $default-h1-font-size;
    margin: 24px;
    margin-bottom: 48px;
  }

  > .subscribe-btn {
    @include subscribe-btn;
  }

  > .subscribe-btn:hover {
    @include subscribe-btn-hover;
  }
}
