.content {
  margin-top: $default-nav-height;
}

.right {
  text-align: right;
}

.top-subscribe-container {
  display: flex;
}

.subscribe-box {
  margin: 14px;
  width: 100%;
  justify-content: space-between;

  > p {
    font-size: 18px;
    font-weight: 600;
  }
}

.small-subscribe-btn {
  font-size: 14px;
  color: $white;
  background: $red;
  border-radius: 24px;
  padding: 8px 16px;
}

.banner {
  width: 100%;
  background-color: $light-grey;
  padding: 16px;

  > p {
    font-size: 14px;
    text-align: center;

    > a {
      color: $blue;
    }

    > a:hover {
      text-decoration: underline;
    }
  }
}
