@import "./variables";
@import "./mixins";

%default-line-height {
  line-height: 64px;
}

%default-font-size {
  font-size: 16px;
}

nav {
  background: $black;
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.logo {
  color: $white;
  @extend %default-font-size;
  @extend %default-line-height;
  padding: 0 32px;

  & > img {
    height: 20%;
  }
}

nav ul {
  float: right;
  margin-right: 16px;
}

nav ul li {
  display: inline-block;
  @extend %default-line-height;
  margin: 0 8px;
}

nav ul li a {
  color: $white;
  @extend %default-font-size;
  padding: 8px 16px;
}

.nav-link:hover {
  color: $red;
  transition: 0.5s;
}

.nav-link-btn {
  border-radius: 4px;
  background: $red;

  &:hover {
    color: $white;
    background-color: $red;
  }
}

.menu-btn {
  @extend %default-font-size;
  color: $white;
  float: right;
  @extend %default-line-height;
  margin-right: 32px;
  cursor: pointer;
  display: none;
}

#menu-btn {
  display: none;
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: $black;
    top: 48px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 16px 0;
    line-height: 32px;
  }

  nav ul li a {
    font-size: 16px;
  }

  #menu-btn:checked ~ ul {
    left: 0;
  }
}
