@import "./variables";

%default-line-height {
  line-height: 52px;
}

%default-font-size {
  font-size: 16px;
}

%default-nav-link-color {
  color: $grey;
}

%default-nav-link-hover-color {
  color: $white;
}

nav {
  background: $dark-grey;
  height: $default-nav-height;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.logo {
  @extend %default-line-height;
  padding: 0 32px;

  > img {
    margin-top: 14px;
    height: 40%;
  }
}

nav ul {
  float: right;
  margin-right: 16px;
}

nav ul li {
  display: inline-block;
  @extend %default-line-height;
  margin: 0 8px;
}

nav ul li a {
  color: $grey;
  @extend %default-font-size;
  padding: 8px 16px;
}

.nav-link:hover {
  @extend %default-nav-link-hover-color;
  transition: 0.5s;
}

.nav-hr {
  border: 1px solid $grey;
  visibility: hidden;
}

.menu-btn {
  @extend %default-font-size;
  @extend %default-nav-link-color;
  float: right;
  @extend %default-line-height;
  margin-right: 32px;
  cursor: pointer;
  display: none;

  &:hover {
    @extend %default-nav-link-hover-color;
  }
}

#menu-btn {
  display: none;
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    background: #000;
    margin-top: $default-nav-height;
    top: -100%;
    text-align: left;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 16px 16px;
    line-height: 32px;
  }

  nav ul li a {
    font-size: 16px;
  }

  .nav-hr {
    visibility: visible;
  }

  #menu-btn:checked ~ ul {
    top: 0;
    height: 100vh;
    z-index: -1;
  }
}
