.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay p {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  font-size: 5vw;
  color: $white;
  font-weight: 700;
  padding: 16px;
  margin-top: -60%;
  text-align: center;
  z-index: 0;
}
