// Colors
$black: #1d1d1f;
$grey: #c2c1c2;
$light-grey: #f5f5f7;
$dark-grey: #424245;
$white: #ffffff;
$red: #ea334b;
$light-red: #febdc5;
$blue: #0066cc;
$default-table-border-color: #d8d7da;

// Sizes
$default-nav-height: 48px;
$default-margin-top-height: 48px;
$default-padding-top-height: 48px;
$default-padding-bottom-height: 48px;
$default-h1-font-size: 4.2vmax;
$default-p-font-size: 24px;
$default-am-logo-img-size: 6.2vmax;
