* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #1d1d1f;
}

body {
  background-color: #ffffff;
}

.logo, nav ul li, .menu-btn {
  line-height: 52px;
}

nav ul li a, .menu-btn {
  font-size: 16px;
}

nav {
  background: #424245;
  height: 48px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.logo {
  padding: 0 32px;
}

.logo > img {
  margin-top: 14px;
  height: 40%;
}

nav ul {
  float: right;
  margin-right: 16px;
}

nav ul li {
  display: inline-block;
  margin: 0 8px;
}

nav ul li a {
  color: #ffffff;
  padding: 8px 16px;
}

.nav-link:hover {
  color: #ea334b;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-btn {
  color: #ffffff;
  float: right;
  margin-right: 32px;
  cursor: pointer;
  display: none;
}

#menu-btn {
  display: none;
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    background: #000;
    top: -100%;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 16px 0;
    line-height: 32px;
    margin-top: 48px;
  }
  nav ul li a {
    font-size: 16px;
    padding: 16px 32px;
  }
  #menu-btn:checked ~ ul {
    top: 0;
    height: 100vh;
    z-index: -1;
  }
}

.content {
  margin-top: 48px;
}

.right {
  text-align: right;
}

.subscribe-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-box {
  margin-top: 24px;
  margin: 16px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe-box > p {
  font-size: 18px;
  font-weight: 600;
}

.small-subscribe-btn {
  font-size: 14px;
  color: #ffffff;
  background: #ea334b;
  border-radius: 24px;
  padding: 8px 16px;
}

.banner {
  width: 100%;
  background-color: #f5f5f7;
  padding: 16px;
}

.banner > p {
  font-size: 14px;
  text-align: center;
}

.banner p > a {
  color: #0066cc;
}

.banner p > a:hover {
  text-decoration: underline;
}

.about {
  margin-top: 32px;
}

.about-logo, .about-text {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100vw;
}

.about-logo > img {
  height: 8vh;
}

.about-text {
  margin-top: 16px;
  margin-bottom: 16px;
}

.about-text h1 {
  font-size: 6vh;
  margin: 24px;
  margin-bottom: 48px;
}

.about-text > .subscribe-btn {
  color: #ffffff;
  background: #ea334b;
  border-radius: 24px;
  padding: 16px 24px;
}

.video-container {
  position: relative;
  margin-top: 48px;
}

.video-container > .video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  pointer-events: none;
}

.video-container > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.footer {
  margin-top: 16px;
  background-color: #f5f5f7;
  height: 5vh;
}
/*# sourceMappingURL=styles.css.map */