@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.logo, nav ul li, .menu-btn {
  line-height: 52px;
}

nav ul li a, .menu-btn {
  font-size: 16px;
}

.menu-btn {
  color: #c2c1c2;
}

.nav-link:hover, .menu-btn:hover {
  color: #ffffff;
}

nav {
  background: #424245;
  height: 48px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.logo {
  padding: 0 32px;
}

.logo > img {
  margin-top: 14px;
  height: 40%;
}

nav ul {
  float: right;
  margin-right: 16px;
}

nav ul li {
  display: inline-block;
  margin: 0 8px;
}

nav ul li a {
  color: #c2c1c2;
  padding: 8px 16px;
}

.nav-link:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-hr {
  border: 1px solid #c2c1c2;
  visibility: hidden;
}

.menu-btn {
  float: right;
  margin-right: 32px;
  cursor: pointer;
  display: none;
}

#menu-btn {
  display: none;
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    background: #000;
    margin-top: 48px;
    top: -100%;
    text-align: left;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 16px 16px;
    line-height: 32px;
  }
  nav ul li a {
    font-size: 16px;
  }
  .nav-hr {
    visibility: visible;
  }
  #menu-btn:checked ~ ul {
    top: 0;
    height: 100vh;
    z-index: -1;
  }
}

.content {
  margin-top: 48px;
}

.right {
  text-align: right;
}

.top-subscribe-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-box {
  margin: 14px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe-box > p {
  font-size: 20px;
  font-weight: 600;
}

.small-subscribe-btn {
  font-size: 14px;
  color: #ffffff;
  background: #ea334b;
  border-radius: 24px;
  padding: 8px 16px;
}

.small-subscribe-btn:hover {
  color: #febdc5;
}

.banner {
  width: 100%;
  background-color: #f5f5f7;
  padding: 16px;
}

.banner > p {
  font-size: 14px;
  text-align: center;
}

.banner > p > a {
  color: #0066cc;
}

.banner > p > a:hover {
  text-decoration: underline;
}

.about {
  margin-top: 32px;
}

.about-logo, .about-text {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100vw;
}

.about-logo > img {
  height: 6.2vmax;
}

.about-text {
  margin-top: 16px;
  margin-bottom: 16px;
}

.about-text > h1 {
  font-size: 4.2vmax;
  margin: 24px;
  margin-bottom: 48px;
}

.about-text > .subscribe-btn {
  color: #ffffff;
  background: #ea334b;
  border-radius: 24px;
  padding: 16px 24px;
}

.about-text > .subscribe-btn:hover {
  color: #febdc5;
}

.video-container {
  position: relative;
  margin-top: 48px;
}

.video-container > .video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  pointer-events: none;
  margin-bottom: -3px;
}

.video-container > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.video-container > .overlay > div > p {
  color: #ffffff;
  font-size: 6vw;
  color: #ffffff;
  font-weight: 700;
  padding: 16px;
  text-align: center;
  margin-top: 26%;
}

.video-container > .overlay > div > button {
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 2.6vmax;
  color: #ffffff;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.vignette-shadow {
  -webkit-box-shadow: inset 0 0 100px black;
          box-shadow: inset 0 0 100px black;
}

.features-container {
  text-align: center;
}

.features-text-container {
  padding-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-text {
  width: 80vw;
}

.features-text > h1 {
  text-align: center;
  font-size: 4.2vmax;
}

.features-img {
  margin-top: 48px;
}

.features-img > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 75vw;
}

.plans-container {
  margin-top: 48px;
  padding-bottom: 48px;
  background-color: #f5f5f7;
  text-align: center;
}

.plans-text {
  padding-top: 48px;
}

.plans-text > h1 {
  font-size: 4.2vmax;
}

.plans-text > p {
  margin: 16px;
  font-size: 3.2vmax;
  font-weight: 600;
}

.grid-plans-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-plans {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  width: 61vmax;
  overflow: auto;
}

.grid-plans > div:nth-child(2),
.grid-plans div:nth-child(3),
.grid-plans div:nth-child(4), .grid-plans > div:nth-child(5),
.grid-plans div:nth-child(9),
.grid-plans div:nth-child(13),
.grid-plans div:nth-child(17),
.grid-plans div:nth-child(21),
.grid-plans div:nth-child(25),
.grid-plans div:nth-child(29),
.grid-plans div:nth-child(33),
.grid-plans div:nth-child(37),
.grid-plans div:nth-child(41),
.grid-plans div:nth-child(45),
.grid-plans div:nth-child(49),
.grid-plans div:nth-child(53),
.grid-plans div:nth-child(57),
.grid-plans div:nth-child(61) {
  font-weight: 600;
  font-size: 16px;
}

.grid-plans > div {
  border-top: 1px solid #d8d7da;
  text-align: center;
  padding: 18px 8px;
}

.grid-plans > div:nth-child(1),
.grid-plans div:nth-child(2),
.grid-plans div:nth-child(3),
.grid-plans div:nth-child(4) {
  border-top: none;
  text-align: center;
}

.grid-plans > div:nth-child(5),
.grid-plans div:nth-child(6),
.grid-plans div:nth-child(7),
.grid-plans div:nth-child(8) {
  border-top: none;
}

.grid-plans > div:nth-child(5),
.grid-plans div:nth-child(9),
.grid-plans div:nth-child(13),
.grid-plans div:nth-child(17),
.grid-plans div:nth-child(21),
.grid-plans div:nth-child(25),
.grid-plans div:nth-child(29),
.grid-plans div:nth-child(33),
.grid-plans div:nth-child(37),
.grid-plans div:nth-child(41),
.grid-plans div:nth-child(45),
.grid-plans div:nth-child(49),
.grid-plans div:nth-child(53),
.grid-plans div:nth-child(57),
.grid-plans div:nth-child(61) {
  text-align: left;
}

@media (max-width: 320px) {
  .grid-plans > div:nth-child(2),
  .grid-plans div:nth-child(3),
  .grid-plans div:nth-child(4) {
    font-size: 10px;
  }
  .grid-plans > div:nth-child(5),
  .grid-plans div:nth-child(9),
  .grid-plans div:nth-child(13),
  .grid-plans div:nth-child(17),
  .grid-plans div:nth-child(21),
  .grid-plans div:nth-child(25),
  .grid-plans div:nth-child(29),
  .grid-plans div:nth-child(33),
  .grid-plans div:nth-child(37),
  .grid-plans div:nth-child(41),
  .grid-plans div:nth-child(45),
  .grid-plans div:nth-child(49),
  .grid-plans div:nth-child(53),
  .grid-plans div:nth-child(57),
  .grid-plans div:nth-child(61) {
    font-size: 10px;
  }
}

.form-container {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-container > div {
  padding: 64px;
  width: 90vw;
  background-color: #ffffff;
  text-align: center;
  border-radius: 16px;
}

.subscribe-text {
  text-align: center;
}

.subscribe-text > img {
  height: 6.2vmax;
  margin-bottom: 16px;
}

.subscribe-text > h1 {
  font-size: 4.2vmax;
}

.subscribe-text > p {
  margin-top: 12px;
  margin-bottom: 32px;
  font-size: 3.2vmax;
  font-weight: 600;
}

.form-elements > input[type="email"] {
  width: 80%;
  padding: 16px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

.submit-btn {
  margin-top: 32px;
  text-align: center;
}

.submit-btn > input {
  color: #ffffff;
  background: #ea334b;
  border-radius: 24px;
  padding: 16px 24px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

.submit-btn > input[type="submit"]:hover {
  color: #febdc5;
}

#subscribe {
  margin-bottom: 16px;
}

.faq-container {
  margin-top: 48px;
  margin-bottom: 48px;
}

.faq-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq-text > h1 {
  font-size: 4.2vmax;
  margin-bottom: 24px;
}

.faq-qa-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq-qa-elements {
  width: 100vh;
  margin-top: 32px;
  margin-left: 32px;
  margin-right: 32px;
}

.faq-qa-elements > h3 {
  text-align: left;
  font-size: 24px;
}

.faq-qa-elements > p {
  margin-top: 24px;
  text-align: left;
  font-size: 18px;
}

.faq-hr {
  margin-top: 24px;
  border: 0.5px solid #d8d7da;
}

@media (max-width: 320px) {
  .faq-qa-elements > h3 {
    font-size: 10px;
  }
  .faq-qa-elements > p {
    font-size: 10px;
  }
}

.a-link, .home-link {
  color: #0066cc;
}

.a-link:hover, .home-link:hover {
  text-decoration: underline;
}

.form-container {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-container > div {
  padding: 64px;
  width: 90vw;
  background-color: #ffffff;
  text-align: center;
  border-radius: 16px;
}

.subscribe-text {
  text-align: center;
}

.subscribe-text > img {
  height: 6.2vmax;
  margin-bottom: 16px;
}

.subscribe-text > h1 {
  font-size: 4.2vmax;
}

.subscribe-text > p {
  margin-top: 12px;
  margin-bottom: 32px;
  font-size: 3.2vmax;
  font-weight: 600;
}

.form-elements > input[type="email"] {
  width: 80%;
  padding: 16px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

.submit-btn {
  margin-top: 32px;
  text-align: center;
}

.submit-btn > input {
  color: #ffffff;
  background: #ea334b;
  border-radius: 24px;
  padding: 16px 24px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

.submit-btn > input[type="submit"]:hover {
  color: #febdc5;
}

#subscribe {
  margin-bottom: 16px;
}

.faq-container {
  margin-top: 48px;
  margin-bottom: 48px;
}

.faq-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq-text > h1 {
  font-size: 4.2vmax;
  margin-bottom: 24px;
}

.faq-qa-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq-qa-elements {
  width: 100vh;
  margin-top: 32px;
  margin-left: 32px;
  margin-right: 32px;
}

.faq-qa-elements > h3 {
  text-align: left;
  font-size: 24px;
}

.faq-qa-elements > p {
  margin-top: 24px;
  text-align: left;
  font-size: 18px;
}

.faq-hr {
  margin-top: 24px;
  border: 0.5px solid #d8d7da;
}

@media (max-width: 320px) {
  .faq-qa-elements > h3 {
    font-size: 10px;
  }
  .faq-qa-elements > p {
    font-size: 10px;
  }
}

.a-link, .home-link {
  color: #0066cc;
}

.a-link:hover, .home-link:hover {
  text-decoration: underline;
}

.success-container {
  margin-top: 48px;
}

.success-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.success-text {
  background-color: #f5f5f7;
  margin-top: 48px;
  width: 80vw;
  padding: 64px;
  border-radius: 16px;
  text-align: center;
}

.success-text > h1 {
  font-size: 4.2vmax;
  color: #299c44;
}

.success-text > p {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 2vmax;
  font-weight: 600;
}

.home-link {
  font-size: 1.8vmax;
}

.dark-mode-toggle {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.dark-mode-toggle > img {
  height: 20px;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #1d1d1f;
  background-color: #ffffff;
}

.fade {
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode-container {
  background-color: #1d1d1f;
}

.dark-mode-card {
  background-color: #424245 !important;
}

.dark-mode-input {
  background-color: #1d1d1f;
  color: #ffffff;
}
/*# sourceMappingURL=styles.css.map */